<?xml version="1.0" encoding="UTF-8"?>
<widget id="A6006620792786"  version="00.00.01">
    <name>moduleTest</name>
    <description>
        selfDifine  APPLoader for  Benson.
    </description>
    <author email="1748917492@qq.com" href="http://www.apicloud.com">
        Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgb(255,255,255)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="true"/>
	<preference name="vScrollBarEnabled" value="true"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="true"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="true"/>
  <preference name="checkSslTrusted" value="false" />
	<preference name="statusBarAppearance" value="true"/>
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location"/>
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />

<!-- 短信验证 -->
    <feature name="smsVerify">
  <param name="android_app_key" value="B4BE1D4A-18F6-42D1-48CF-DF6C6EA9983E"/>
  <param name="android_app_secret" value="16:81:AB:B8:B7:05:52:E6:A6:5E:B2:18:6F:71:E2:6C:CD:B7:4A:C0"/>
  <param name="ios_app_key" value="xxl"/>
  <param name="ios_app_secret" value="xxl"/>
  </feature>


	<!-- 配置百度地图 -->
    <feature name="bMap">
    <param name="android_api_key" value="OruZANz80XTArwSjSIviqnxyf1nlldfD" />
    <param name="ios_api_key" value="dycvTMWO2340LmVRimIZMPTikaVxWFHU" />
  	</feature>

<!-- 微信 -->
  <feature name="wxPlus">
  <param name="urlScheme" value="wxf476d7072eeddaae"/>
  <param name="apiKey" value="wxf476d7072eeddaae"/>
  <param name="apiSecret" value="a354f72aa1b4c2b8eaad137ac81434cd"/>
</feature>

<feature name="weiboPlus">
  <param name="urlScheme" value="wb1132217156" />
  <param name="apiKey" value="3837914122" />
  <param name="registUrl" value="http://www.apicloud.com" />
</feature>

<!-- App Secret：5cbb718f44e2bc50105fff9e8d64cde8 -->

    <feature name='aliPayPlus'>
      <param name="urlScheme" value="AliPayPlusA6006620792786" />
    </feature>
</widget>
